@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
body{
    font-size: 18px;
    color: #000;  
}
.top_menu{
    background-color: #000;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}
.top_menu_right{
    font-size: 18px;
}
.top_menu_right ul li a{
    color: #fff;
}.top_menu_right i{
    font-size: 20px;
}
.top_menu_left img{
    width: 80px;
}
/* Main menu */
.main_menu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-bottom: 50px;
}
.main_menu li{
    list-style: none;
}
.main_menu_2{
    margin: 0px 40px;
}
.main_menu_2 a{
    text-decoration: none;
}
.main_menu_2 ul li {
    padding-bottom: 6px;
}
.main_menu_2 ul li a:hover{
    border-bottom: 2px solid #111;
}
/* tiêu đề main menu */
#title{
    font-size: 22px;
    color: #000;
}
#title:hover{
    border-bottom: 2px solid #000;
}
.menu_boQuanAo li{
    margin-left: 8px;
}

.list_boQuanAo{
    margin-left: -5em;

}
.list_boQuanAo #left{
    margin-right: 45px;
    float: left;
}

.list_boQuanAo ul{
    display: inline-flex;
    justify-content: flex-start;
    width: 350px;
}
/* menu ẩn */
.hide_menu{
  display: none;
  position: absolute;
  z-index: 3;
  background-color: whitesmoke;
  border-radius: 6px;
  padding-top: 20px;
}
.hide_menu a{
    color: #757575;
}
.hide_menu a:hover{
    color: #111;
    text-decoration: none;
}
/* Vùng menu ẩn */
.width_menu{
    width: 10%;
}

/* Top bán chạy */
.topBanChay{
    margin-top: 60px ;
    margin-bottom: 30px;
}
.topBanChay h3{
    color: tomato;
    border-bottom:2px solid tomato ;
    width: max-content;
    font-size: 24px;
}

.carousel-control-prev-icon{
    background-color: rgb(102, 101, 101);
    border-radius: 3px;
}
.carousel-control-next-icon{
    background-color: rgb(102, 101, 101);
    border-radius: 3px;
}
/* Last place */
.background_black{
    background-color: #000000;
    height: 70%;
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 80px 0px;
}
.background_black ul{
    list-style: none;
}
.background_black img{
    width: 150px;
    padding-left: 40px;
}
.background_black ul p {
    font-size: 16px;
    font-weight: bolder;
}
.bb_list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 50px;
    line-height: 35px;
}

.bb_list a{
    color: #fff;
}
.list_width{
    width: 18%;
}
.link_connect{
    margin-left: 40px;
}
.link_connect a{
    margin-right: 10px;
}
.link_connect a:hover{
    border: 1px dotted #fff;
}

/* show place ban hàng */
.show_place{
    margin-bottom: 80px;
}
.show_place h4{
    border-bottom: 1px solid #000 ;
    width: 100%;
    margin-bottom: 40px;
}
.sp_sanPham{
    display: block;
    background-color: aliceblue;
    text-align: center;
    margin: 10px;
}
.trungBay{
    display: flex;
    flex-wrap: wrap;
}
/* show place */
.sp_sanPham a{
    text-decoration: none;
    color: #000;
}
.sp_sanPham a:hover p{
    font-weight: bold;
    color: rgb(0, 0, 0);
}
.sp_sanPham img{
    max-width: 300px;
}
/* container */
.col-md-4 {
    max-width: 31%;
}
/* Vung chi tiet gian hang */
.vungChiTiet{
    margin: 100px auto;
    height: auto;
    display: flex;
    
}
.vct_left{
    margin-right: 80px;
}
.vct_left img{
    width: 400px;
    border: 1px solid #757575;
}
.vct_left img:hover{
    width: 450px;
    z-index: 4;
    border-radius: 6px;
}
.vct_right p{
    color: tomato;
    margin-top: 20px;
}
.vct_right .chonSize{
    display: flex;
    align-items: center;
    margin: 30px auto;
}
.vct_right .chonSize_text{
    font-weight: bold;
    font-size: 15px;
    margin-right: 60px;
}
#size{
    width: 280px;
    background-color: whitesmoke;
}
.quantity{
    display: flex;
    align-items: center;
}
#label_themSL{
    font-weight: bold;
    font-size: 16px;
}
#themSoLuong{
    width: 52px;
    border: 1px solid #111;
    border-radius: 4px;
    background-color: whitesmoke;
    margin: 0px 85px 0px 20px;
}
.button_muaHang{
    width: 130px;
    font-weight: bold;
}
/* Vung Mo ta */
.vungMoTa{
    margin-bottom: 180px;
}
#moTa{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
#moTa h4{
    font-size: 20px;
    color: tomato;
    border-bottom: 2px solid tomato;
    border-bottom-style:inset ;
}
.vungMoTa img{
    
}
/* căn lề */
.canLe{
    margin-left: 160px;
}
